# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
/windows/
/macos/
/linux/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.code-workspace

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/android/orama_keystore.jks
/android/private_key.pepk

# Arquivos de compilação e cache
*.o
*.a
*.so
*.dylib
*.exe
*.dll
*.obj
*.pyc

# Arquivos de ambiente e chaves sensíveis
.env
*.key
*.pem
*.cert
google-services.json
firebase_options.dart

# Arquivos de logs e temporários
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

# Diretórios de dependências
/ios/Pods/
/ios/Podfile.lock
/android/.gradle/
/android/local.properties
/android/gradlew
/android/gradlew.bat

# Arquivos específicos do Flutter
*.g.dart
*.freezed.dart
*.gen.dart
*.gr.dart
*.mocks.dartgoogle-services-secundario.json
